* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
    padding: 0 16px;
}

.all-p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.all-h2 {
    font-size: 32px;
    line-height: 36px;
}

.gray-text {
    font-size: 13px;
    color: #000000;
    opacity: 50%;
    width: 320px;
    text-align: center;
    margin-top: -45px;
}

.bg-bl {
    background-color: #3B79C3;
    color: #fff;
    border-radius: 2px;
    padding: 2px 2px;
    font-size: 13px
}

/* navbar */

#header { 
    background-color: #6B6B6B;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    padding: 25px 0 25px 40px;
    list-style-type: none;
}

.navbar-link a {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.5s;
}

.navbar-link a:hover {
    color: yellow;
}

/* section Double click text to change it */
#text-to-change {
    background-color: #EBEBEB;
    padding: 67px 144px;
}

.flex-box {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
}

.double-click {
   width: 55%;
}

.double-click h1 {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 39px;
    line-height: 45px;
    color: #333333;
}

.double-click p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.edit-link {
    padding: 15px 25px;
    background-color: #fff;
    margin-top: 25px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.edit-link:hover {
    color: white;
    background-color: #6B6B6B;
}

/* logotypes */

#logotypes {
    background-color:#D3D3D3 ;
}

.block-logotypes {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.block-logotypes img {
    padding: 0 10px;
}

/* class and parents */

#class-parents {
    padding: 50px 0;
}

.w-block {
    width: 520px;
}

.about-parents {
    display: flex;
    justify-content: space-between;
}

.flex-class-perents {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
 
/* layout */

#layout {
    background-color: #EBEBEB;
}

.layout-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 89px;
}

.layout-heading {
    font-weight: 400;
    font-size: 33px;
    color: #333333;
    padding-bottom: 15px;
}

.layout-text {
    font-size: 15px;
    color: #333;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.step {
    background-color: #fff;
    width: 364px;
    height: 316px;
    border-radius: 5px;
    margin: 5px
}

.step-heading {
    font-size: 18;
    color: #333;
    text-align: center;
    padding: 30px 0;
}

.step-img {
    display: block;
    margin: 0 auto;
}

.step-text {
    padding: 31px 40px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* tips */

#tips {
    padding: 90px 0;
}

.tips-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.tip p, .tip h3 {
    text-align: left;
    width: 90%;
}

.tip {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.tip-img {
    margin-left: -50px;
}

/* footer */

.footer-menu {
    background-color: #6B6B6B;
    
}

.footer-height {
    padding: 10px 0;
}

.black-section {
    background-color: #000;
}

.black-section p {
    padding: 15px 0;
    color: #777777;
    font-size: 12px;
}

@media (max-width: 1030px){
    body{
        overflow-x: hidden;
    }

    .wrapper {
        width: 100vw;
    }

    .edit-link {
        display: flex;
        margin: 0 auto;
        width: 200px;
        text-align: center;
    }

    .block-logotypes {
        display: flex;
        flex-wrap: wrap;
    }

    .double-click {
        text-align: center;
        width: 100%;
    }

    .double-click h1 {
        font-size: 30px;
    }

    .double-click p {
        font-size: 16px;
    }

    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .flex-class-perents {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .about-parents {
        display: flex;
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 550px) {
    .wrapper{
        width: 100%;
    }

    .edit-link {
        display: flex;
        width: 240px;
    }

    .block-logotypes {
        display: flex;
        flex-wrap: wrap;
    }

    .double-click {
        text-align: center;
        width: 400px;
        min-width: 300px;
    }

    .double-click h1 {
        font-size: 21px;
    }

    .double-click p {
        font-size: 12px;
    }

    .w-block {
        width: 70vw;
    }
    
}